<!-- Copyright (c) 2021 by Behzad Nemati(https://codepen.io/Behzad_ne_77/pen/XWNJapX) -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/register.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <html>
    <meta charset="utf-8">
    <title>Login</title>
    <body>
        <div id="Login">
            <form>
                <div class="user-box">
                    <input id="id" type="text" name="id" required>
                    <label>ID</label>
                </div>
                <div class="user-box">
                    <input id="name" type="text" name="name" required>
                    <label>Name</label>
                <div class="user-box">
                    <input id="password" type="password" name="Password" required>
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input id="conformpass_word" type="password" name="conformpass_word" required>
                    <label>conform password</label>
                </div>
                <a class="user-box-button">
                    <a id="button" href="/login">Done</a>
                </a>
            </form>
        </div>
    </body>
</html>
</body>
</html>